{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Listar Perfiles{% endblock %}
{% block content %}
  <h1 class="center">Perfiles</h1><hr>
  <table>
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Género</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in object_list %}
        <tr>
          <td>{{profile.user.username}}</td>
          <td>{{profile.address}}</td>
          <td>{{profile.phone}}</td>
          <td>{{profile.gender}}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No Existen registdos</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'base.paginator.html' with paginator=page_obj %}
  <div style="padding-bottom: 50px;">
      <a type="button" href="">Regresar</a>
  </div>
{% endblock %}